@font-face {
    font-family: 'csans';
    src: url(/fonts/GoogleSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'csans';
    src: url(/fonts/GoogleSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'csans2';
    src: url(/fonts/cfastystd-book-webfont.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'csans2';
    src: url(/fonts/cfastystd-medium-webfont.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'csans2';
    src: url(/fonts/cfastystd-bold-webfont.woff2);
    font-weight: 700;
    font-style: normal;
}
body {
    position: relative;
  }
body::after {
    content: '';
    display: block;
    height: 100px;
    /* Set same as footer's height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background: #0b0b0b;
    display: none;
  }

/* HEADER STYLE */
.searchb {
    position: relative;
    left: 70px;
    padding: 12px;
    border-radius: 8px;
    background: #000;
    display: none;
}

.searchb img {
    width: 30px;
}

.searchm {
    display: none;
}

div#loader-wrapper {
    position: fixed;
    background: #000;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior-x: none;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1;
}

.loader2 {
    border: 10px solid #1b1a1a;
    border-radius: 50%;
    border-top: 10px solid #f47920;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    scale: .6;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.settings {
    position: absolute;
    width: 70%;
    background: #151515;
    right: 0;
    top: 80;
    z-index: 500;
    padding: 20px;
    max-width: 600px;
    color: #eee;
    margin: auto;
    display: none;
    left: 0;
    bottom: auto;
    border-radius: 0 0 8px 8px;
    border: 2px solid #555;
    border-top: 0;
}

h2#ανάλυση-οθόνης {
    padding: 10px;
    border-radius: 6px;
    font-size: 24px;
    margin: 0;
    text-align: center;
    background: #888;
}

.zbuttons {
    display: flex;
    gap: 5px;
    border: 2px solid #444;
    height: 45px;
    align-items: center;
    padding: 0 20px;
    border-radius: 30px;
    transition: all .3s;

}

/*.search-container {
    display: grid;
    position: fixed;
    z-index: 20;
    top: 50;
    background: #111;
    border: 2px solid #333;
    left: 320px;
    right: 30px;
    top: 110px;
    border-radius: 6px;
    padding: 0 0px;
    filter: drop-shadow(2px 10px 20px black)
}*/

ul.search-list {
    /* background: #111; */
    display: grid;
    padding: 0;
    min-height: 0;
    /* max-height: 67vh; */
    /* overflow-y: auto; */
    margin: 0 -20px;
    gap: 0;
}

.search-list li {
    display: block;
    align-items: center
}

a.smockup .fimg {
    display: none
}

a.smockup {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #eee;
    padding: 10px;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 15px 20px 0;
    font-size: 20px;
    text-transform: capitalize
}

a.smockup:hover {
    background: #222
}

img.sfimg {
    width: 65px;
    border-radius: 3px;
    border: 1.5px solid #444
}

.spar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: #eee;
    margin: 10px 0 30px 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.smglass {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    padding: 0 20px;
    border-radius: 30px;
    border: 2px solid #333;

    font-weight: 700
}

.search-results {
    position: relative;
    top: 0;
    margin: 10px 20px -20px
}

span.num-results.nmoc {
    font-weight: 700
}

span.sclose {
    font-size: 40px;
    background: #222;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .3s
}

span.sclose:hover {
    background: #aa0101;
    transition: all .3s
}

button.minus,
button.plus,
button.reset {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    width: 24px;
    height: 24px;
    transition: all .3s;
    cursor: pointer;
    filter: invert(1) contrast(1) brightness(2);
    opacity: .9;
    border: 2px solid #ddd;
    box-sizing: content-box;
    border-radius: 50%;
}

button.minus:hover,
button.plus:hover,
button.reset:hover {
    opacity: .6;
    transition: all .3s;
}



html {
    scroll-behavior: smooth;
}

.totop {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background: #f47920;
    z-index: 1;
    cursor: pointer;
    right: 30px;
    border-radius: 50%;
    font: bold 18px ssans;
    text-align: center;
    line-height: 60px;
    letter-spacing: -.9px;
    color: white;
}

.totop:hover {
    background: #cd651b;
    transition: all .3s;
}

/* width */
::-webkit-scrollbar {
    width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 20px;
    transition: all .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444;
    border-radius: 20px;
    transition: all .3s;
}

.form-control:focus,
.form-control:active {
    background: transparent;
}

body {
    margin: 0 auto;
    font-family: csans;
    background: #000;

    overflow-y: overlay;
}

title {
    text-transform: capitalize;
}

a,
a:hover {
    transition: all .3s;
    text-decoration: none;
}

.left-side {
    background: #151515;
    padding: 30px;
    position: fixed;
    height: 100%;
    width: 230px;
    z-index: 3;
    top: 0;
}

.logo {
    font-family: csans2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    padding: 10px;
    background: #333;
    display: flex;
    border-radius: 8px;
    
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #888;
}

ul.left-top {
    list-style-type: none;
    margin: 50px 0;
    padding: 0;
}

ul.left-top img {
    opacity: .6;
}

ul.left-top a,
.left-center a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    opacity: .8;
    font-weight: 700;
}

.left-center a {
    background: #333;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-weight: 700;
}

.left-center a:hover {
    opacity: 1;
}

/*.active {
    background: black;
    margin: 0-30px;
    padding: 15px 26px;
    border-left: solid 4px orange;
}*/

ul.left-top .left-center a {
    margin: 0;
}

ul.left-top a:hover {
    opacity: 1;
}

.material-symbols-rounded {
    font-size: 34px;
    color: #888;
}

.left-center .material-symbols-rounded {
    font-size: 28px;
    color: #eee;
}

.top-menu {
    background: #1e1e1e;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 30px;
    z-index: 2;
    filter: drop-shadow(2px 10px 15px black);
}

.logo-header,
.hamp {
    visibility: hidden;
}

.hamp {
    width: 30px;
    position: absolute;
    left: 260px;
}

.hamp-close {
    width: 25px;
    position: absolute;
    left: 262px;
    display: none;
}

.search {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: -.3px;
    flex: 1;
    position: relative;
    max-width: 700px;
    left: 80px;
    border: 2px solid #444;
}

.search2 {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: -.3px;
    flex: 1;
    position: relative;
    max-width: 700px;
    left: 80px;
    border: 2px solid #444;
}

.sbef {
    height: 30px;
    display: flex;
    align-items: center;
    border-right: 2px solid #888;
    padding: 0 10px 0;
    margin-right: 10px;
    color: #888;
}

input.sinput {
    background: transparent;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    outline: none;
    width: 100%;
    margin-right: 50px;
    color: #ddd;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
    opacity: 1;
    /* Firefox */
}

button.sbutton {
    border: 0;
    background: transparent;
    position: absolute;
    right: 15px;
}

.sbutton img {
    width: 26px;
}

.top-right-menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 90px;
    gap: 25px;
}

.top-right-menu a {
    color: #eee;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    opacity: .8;
}

.top-right-menu a:hover {
    opacity: 1;
}

.plsite a {
    background: #000;
    color: orange;
    height: 49px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    padding: 0 30px;
    letter-spacing: -.6px;
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 1;
}

.plsite a:hover {
    background: #111;
}

.main {
    padding: 110px 30px 30px 320px;
}

.main-in .index-labels {
    margin-top: 0;
}

.index-labels a:hover {
    background: #333;
}

.index-labels-categories p.env-title {
    color: #ddd;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
}

p.env-title {
    color: #ddd;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-weight: 500;
}

.index-labels img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 0 auto;
}

img.fimg:nth-child(2) {
    display: none;
}

p.pcat {
    font-size: 20px;
    color: #eee;
}

.main-top {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.mtop-left {
    color: #ccc;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.mtop-left img {
    opacity: .7;
    background: #4e4d4d;
    padding: 8px 14px;
    border-radius: 6px;
}

.mtop-left img {
    opacity: .7;
    background: #4e4d4d;
    padding: 8px 14px;
    border-radius: 6px;
}

.mtop-left-span {
    height: 48px;
    line-height: 48px;
    width: 48px;
    background: #373636;
    text-align: center;
    border-radius: 6px;
}

.queans {
    font-size: 30px;
    color: #eee;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #333;
    padding: 20px 0;
    max-width: 1100px;
    margin: 15px auto 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.order,
.view {
    color: #eee;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.view span {
    margin-right: 5px;
    opacity: .7;
}

a.list,
a.grid {
    opacity: .7;
    background: #4e4d4d;
    padding: 4px;
    border-radius: 6px;
    display: flex;
}

a.list:hover,
a.grid:hover {
    opacity: .9;
}

.mtop-right img {
    width: 40px;
}

.main-line {
    width: auto;
    height: 4px;
    background: #222;
    border-radius: 10px;
    margin: 30px 0 30px 0;
}

/*POST*/
.post {
    display: flex;
    position: relative;

}

.post-right {
    display: grid;
    position: relative;
}

.pimg {
    max-width: 350px;
    margin-right: 35px;
    cursor: pointer;
}

.pimg img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    border: 3px solid #3f3f3f;
}

h1.title {
    color: #eee;
    text-transform: capitalize;
    margin-right: 90px;
}

.post-info {
    display: flex;
    gap: 10px;
}

.pinfo1 {
    background: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 42px;
    padding: 0 15px;
    border-radius: 6px;
    color: #eee;
}

.pinfo1 .picon {
    font-size: 24px;
    color: #eee;
}

.pinfo2 {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 42px;
    padding: 0 15px;
    border-radius: 6px;
    color: #eee;
    background: #003c6b;
    border: 0px solid #064f89;
}

a.report {
    background: #da1f33;
    padding: 0px 10px;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 42px;
}

a:hover.report {
    opacity: .8;
}

.p-post {
    color: #eee;
    font-size: 20px;
    line-height: 28px;
    max-width: 1000px;
}

.p-title {
    text-transform: capitalize;
}

.plabels {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plabels a {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 25px;
    border-radius: 30px;
    border: 2px solid #333;
    color: #eee;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
}

/*.plabels a:nth-child(4) {
    display: none;
}*/
.genclass {
    display: none !important;
}

.plabels a:hover {
    background: #333;
}

.plabels a .picon {
    font-size: 24px;
    color: #888;
}

a.downl {
    background: green;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 25px;
    border: 0;
    height: 46px;
}

a.downl:hover {
    background: rgb(0, 99, 0);
}

a.downl .picon {
    font-size: 24px;
    color: #eee;
}

.pimg2 {
    position: fixed;
    top: -100%;
    right: 15px;
    bottom: 0;
    left: 15px;
    width: auto;
    height: 100%;
    margin: 0 auto;
    z-index: 3;
    border: 0;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.pimg2 .pimg {
    cursor: pointer !important;
    padding: 0px;
    border: 0px solid #eee;
    border-radius: 6px;
    margin-bottom: 0px;
    background: unset;
    max-width: 70vh;
    margin: 0 auto;
}

.pimg2bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(0 0 0 / 90%);
    display: none;
    z-index: 9;
}

.pimg2 .pimg img {
    width: 100%;
    display: flex;
    animation-name: example;
    animation-duration: 1s;
    position: relative;
    top: 0px;
    height: auto;
    border-radius: 6px;
    height: auto;
}

.imgcaption {
    display: none;
    bottom: 30px;
    left: 0;
    text-align: center;
    animation-name: example2;
    animation-duration: 2s;
    color: #eee;
    right: 0;
    text-transform: capitalize;
    font-size: 20px;
}

.fclose {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    transform: rotateZ(45deg);
    transition: all .3s;
}

.fclose:hover {
    filter: brightness(1.2);
    transition: all .3s;
}

@keyframes example {
    from {
        top: -100%;
    }

    to {
        top: 0px;
    }
}

@keyframes example2 {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*LISTS*/
.index-labels,
.mockups-list,
.list-related {
    margin: 0 auto;
    margin-top: 0px;
    display: grid;
    flex-wrap: wrap;
}

.index-labels-categories {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));

}

.index-labels-categories .lilabel {
    height: 50px;
    display: flex;
    align-items: center;
}

.index-labels-categories p.gnum {
    width: 44px;
    height: 44px;
    padding: 0;
    background: #8e2222;
    text-align: center;
    line-height: 44px;
    color: #eee;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -7px;
    right: 15px;
}

.index-labels-categories a {
    position: relative;
    padding: 10px;
    border-radius: 0px;
    background: #151515;
    border: 0px solid #111;
}

.main-in-categories {
    padding: 8px;
    background: #222;
    border-radius: 8px;
}

.index-labels {
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    margin-top: 19px;
}

.mockups-list {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.index-labels a.mockup,
.index-labels a {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    background: #1e1e1e;
    border: 0px solid #333;
}

.mockups-list a.mockup,
.list-related a.mockup {
    position: relative;
    padding: 7px;
    border-radius: 8px;
    background: #1e1e1e;
    border: 0px solid #333;
}

a.mockup:hover {
    background: #333;
}

.fimg img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 0 auto;
}

h1.p-title {
    color: #ddd;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-weight: 500;
    line-height: 26px;
}

.mtop-left strong {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    padding: 0 20px;
    border-radius: 30px;
    border: 2px solid #333;
}

.mtop-left .picon {
    font-size: 30px;
}

.nmoc {
    width: 48px;
    height: 48px;
    padding: 0;
    background: #8e2222;
    text-align: center;
    line-height: 48px;
    color: #eee;
    border-radius: 50%;
}

.mockups-list.listv,
.list-related.listv,
.listv.index-labels {
    margin: 0 auto;
    margin-top: 0px;
    display: grid;
    flex-wrap: wrap;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
}

.listv a.mockup {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 8px;
    max-width: unset;
}

.listv .fimg img {
    border: solid 1.5px #333;
}

.listv .fimg img,
.listv .index-labels img {
    width: auto;
    height: 80px;
    border-radius: 5px;
    margin: 0 15px 0 0;

}

.listv h1.p-title {
    text-align: left;
    padding: 15px 0;
}

/*LIST VIEW*/
.listv .lilabel {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px;
}

.listv .index-labels a {
    border-radius: 8px;
    background: #222;
    padding: 10px;
}

.listv .index-labels a:hover {
    background: #333;
}

.listv p.env-title {
    text-align: left;
    padding: 15px 0;
}

.listv .index-labels {
    margin: 19px auto;
    display: grid;
    flex-wrap: wrap;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
}

.lpointer {
    pointer-events: none;
    opacity: .5 !important;
}

/*LISTS GENERATED*/
p.gnum {
    width: 44px;
    height: 44px;
    padding: 0;
    background: #8e2222;
    text-align: center;
    line-height: 44px;
    color: #eee;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -27px;
    right: -6px;
}

.listv p.gnum {
    top: 9px;
    right: 15px;
}

@media screen and (min-width: 2500px) {
    body {
        zoom: 125%;

    }
}

/* OLD MOBILE
@media screen and (max-width: 1500px) {
   .left-side {
        width: 30px;
        padding: 15px 30px
    }
    .left-side .logo-text {
        display: none;
    }
    .left-side .logo {
        justify-content: center;
    }
    .left-side a.llink1 span:nth-child(2) {
        display: none;
    }
    .left-side a.llink2 span:nth-child(2) {
        display: none;
    }
    .left-side a.llink3 span:nth-child(2) {
        display: none;
    }
    .left-side a.llink4 span:nth-child(2) {
        display: none;
    }
    .left-side ul.left-top {
        margin: 50px 0;
    }
    .left-side .left-center {
        display: grid;
        justify-content: center;
    }
    .left-side .left-center a span:nth-child(2) {
        display: none;
    }
    .left-side .left-bottom {
        display: none;
    }
    .search {
        left: 80px;
    }
    .main {
        padding: 110px 30px 30px 110px;
    }
    .index-labels {
        margin-top: 4px;
    }
    

.listv .index-labels {
    margin-top: 0;
}
    .search-container {
        left: 110px;
    }
    ul.left-top a, .left-center a {
        justify-content: center;
    }
}
@media screen and (max-width: 1250px) {
    .sbef {
        display: none;
    }
    .search {
        max-width: 50%;
    }
    .post {
        display: block;
    }
}
@media screen and (max-width: 1090px) {
    .search {
        max-width: 40%;
    }
}
*/
.left-media {
    width: 100%;
    max-width: 700px;
    position: relative;
    z-index: -1;
}

.mobile-search {
    display: flex;
    top: 0px;
    left: 0;
    max-width: unset;
   
}
.hicon {
    background: #2d2d2d;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 50px;
    position: absolute;
    left: 0px;
  }
  .htext {
    padding-left: 70px;
    text-align: left;
}
/* NEW MOBILE CODE*/
.dflex {
    display: flex !important;
}

.dflex.search {
    display: flex !important;
}

.left-side2 {
    display: none;
    position: sticky;
    background: #151515;
    padding: 30px;
    top: 80px;
    left: 0;
    width: -webkit-fill-available;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
a.options2, .plsite2 {
    display: none;
}
@media screen and (min-width: 1925px) {
    ul.search-list {

        max-height: 61.0vh;

    }
}



@media screen and (max-width: 1500px) {
    .desktop-search {
        max-width: 500px;
    }
}

@media screen and (max-width: 1259px) {
    .footer {
        display: block;
    }
    .left-side {
        display: none;
    }
    ul.left-top {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
    }
    .logo-header,
    .hamp {
        visibility: visible;
    }

    .main {
        padding: 110px 30px 30px;
    }

    .desktop-search {
        display: none;
    }

    .search-container {
        left: 30px;
    }

    .searchb {
        display: block !important;
    }
}
@media screen and (max-width: 1072px) {
    .post {
      align-items: center;
    }
    .plabels, .post-info {
        display: grid;
    }
    

}

@media screen and (max-width: 966px) {
    h1.title {
     
        margin-left: -50vh;
    }
}
@media screen and (max-width: 700px) {
  
        .plsite1 {
            display: none;
        }
        .plsite2 {
            display: block;
        }
        .post {
            display: grid;
            margin-top: -10;
        }
        h1.title {
            margin-left: 0;
        }
    }
@media screen and (max-width: 864px) {
    .nspan {display: none;}
}
@media screen and (max-width: 546px) {
    .nspan {display: none;}
    .view span:first-child {display: none;}
    .main-top {zoom: 80%;}
    .mockups-list {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        zoom: 80%;
    }
    .pimg {
        max-width: 100%;
        margin-right: 0;
        cursor: pointer;
       
    }
   
    .loader-inner {
        scale: .7;
    }
}

@media screen and (max-width: 500px) {
    nav.spages.spages2 {
       scale: .7;
    }
   }

@media screen and (max-width: 480px) {
    .post-right {
        
        zoom: 90%;
    }
    h1.title {
        font-size: 24px;
    }
  .htext {
    font-size: 24px;
  }
    a.options1 {
        display: none;
    }
    a.options2 {
        display: flex;
    }
    .listv {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        zoom: 80%;
    }
    
    .index-labels {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        zoom: 80%;
    }
    .hamp {
        width: 35px;
        position: absolute;
        left: auto;
        right: 60px;
    }

   .hamp-close {
       
        position: absolute;
        left: auto;
        right: 60px;
    }
    .top-menu {
        padding: 0 20px;
    }
    .main {
        padding: 110px 20px 0px;
    }
    .left-side2 {
        padding: 30px 20px;
    }
    .loader-inner {
        scale: .5;
    }
}

