<head> {{ partial "head" . }}
    <style>
     a.llink5 {
    background: black;
    margin: 0 -30px 15px -30px;
    padding: 15px 26px;
    border-left: solid 4px orange;
    border-radius: 0;
    opacity: 1;
}
.mtop-left {
    visibility: hidden;
}
a.mockup:last-child img.fimg:last-child {display: none;}
    </style>
</head>
<body>
    {{ partial "header" . }} 
    {{ partial "left" . }}
    <div class="main">
        <div class="main-top">
            <div class="mtop-left"><span class="mtop-left-span material-symbols-rounded"> sell </span><b>{{.Title}}</b></span></div>
            <div class="mtop-right">
                <div class="order" style="display: none;"><span>Ταξινόμηση</span><a class="lorder" href="#"></a></div>
                <div class="view"><span>Προβολή: </span><a class="list" href="#"><img src="/media/icons/svg32/list.svg" alt=""></a><a class="grid" href="#"><img src="/media/icons/svg32/grid.svg" alt=""></a></div>
            </div>
           </div>
<div class="main-in">
    <div class="index-labels">
        {{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Baker Master") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Barron") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Bonora") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Buenas") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Drolio") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Fisherman's Boat") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Frogo") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Kitten") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Meat House") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Sette") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Stampa") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Tickit") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Toni") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Ανθέλα") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Γλάρος") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Μαράτα") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Πιέστο") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Ρόμβος") }}
      <a class="mockup" href="{{.Permalink}}">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Σκλαβενίτης") }}
      <a class="mockup" href="{{.Permalink}}">
        <img class="fimg" src="/media/icons/sklavenitis.png">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}{{ range where ($.Site.GetPage "taxonomyTerm" "labels").Pages "Title" ("Σκλαβενίτης ΜΤ") }}
      <a class="mockup" href="{{.Permalink}}">
        <img class="fimg" src="/media/icons/sklavenitis-nofood.png">
        <div class="lilabel">
          <p class="env-title">{{.Title}}</p>
          <p class="gnum">{{ len (where .Pages "Section" "!=" "") }}</p>
        </div>
      </a>
    {{ end }}
 </div>

    </div>
    {{ partial "footer" . }} 
</body>
<script>
    
$('a:contains("Baker Master")').prepend('<img class="fimg" src="/media/icons/bakermaster.png">');
$('a:contains("Barron")').prepend('<img class="fimg" src="/media/icons/barron.png">');
$('a:contains("Bonora")').prepend('<img class="fimg" src="/media/icons/bonora.png">');
$('a:contains("Buenas")').prepend('<img class="fimg" src="/media/icons/buenas.png">');
$('a:contains("Drolio")').prepend('<img class="fimg" src="/media/icons/drolio.png">');
$('a:contains("Fisherman")').prepend('<img class="fimg" src="/media/icons/fisherman.png">');
$('a:contains("Frogo")').prepend('<img class="fimg" src="/media/icons/frogo.png">');
$('a:contains("Kitten")').prepend('<img class="fimg" src="/media/icons/kitten.png">');
$('a:contains("Margarit")').prepend('<img class="fimg" src="/media/icons/margarit.png">');
$('a:contains("Master Energy")').prepend('<img class="fimg" src="/media/icons/masterenergy.png">');
$('a:contains("Master Light")').prepend('<img class="fimg" src="/media/icons/masterlight.png">');
$('a:contains("Meat House")').prepend('<img class="fimg" src="/media/icons/meathouse.png">');
$('a:contains("Sette")').prepend('<img class="fimg" src="/media/icons/sette.png">');
$('a:contains("Stampa")').prepend('<img class="fimg" src="/media/icons/stampa.png">');
$('a:contains("Tickit")').prepend('<img class="fimg" src="/media/icons/tickit.png">');
$('a:contains("Toni")').prepend('<img class="fimg" src="/media/icons/toni.png">');
$('a:contains("Ανθέλα")').prepend('<img class="fimg" src="/media/icons/anthela.png">');
$('a:contains("Γλάρος")').prepend('<img class="fimg" src="/media/icons/glaros.png">');
$('a:contains("Μαράτα")').prepend('<img class="fimg" src="/media/icons/marata.png">');
$('a:contains("Πιέστο")').prepend('<img class="fimg" src="/media/icons/piesto.png">');
$('a:contains("Ρόμβος")').prepend('<img class="fimg" src="/media/icons/romvos.png">');






$("a.list").click(function () {
           $(".main-in").addClass("listv");
           $(this).addClass("lpointer");
           $('a.grid').removeClass('lpointer');
   
       });
       $("a.grid").click(function () {
           $(".main-in").removeClass("listv");
           $(this).addClass("lpointer");
           $('a.list').removeClass('lpointer');
   
       });
      
    
       $('a.grid').addClass('lpointer');
      
</script>
</html>