<head> {{ partial "head" . }}
 
</head>
<body>
    {{ partial "header" . }} 
    {{ partial "left" . }}
    <div class="main">
        <div class="main-top">
            <div class="mtop-left"><img height="32px" src="/media/icons/svg32/trofima.svg" alt=""><span><b>{{.Title}}</b></span></div>
            <div class="mtop-right">
                <div class="order" style="display: none;"><span>Ταξινόμηση</span><a class="lorder" href="#"></a></div>
                <div class="view"><span>Προβολή: </span><a class="list" href="#"><img src="/media/icons/svg32/list.svg" alt=""></a><a class="grid" href="#"><img src="/media/icons/svg32/grid.svg" alt=""></a></div>
            </div>
           </div>
           {{.Content}}
    </div>
    {{ partial "footer" . }} 
</body>
<script>
     $("a.list").click(function () {
        $(".main-in").addClass("listv");
        $(this).addClass("lpointer");
        $('a.grid').removeClass('lpointer');

    });
    $("a.grid").click(function () {
        $(".main-in").removeClass("listv");
        $(this).addClass("lpointer");
        $('a.list').removeClass('lpointer');

    });
   
 
    $('a.grid').addClass('lpointer');
 

</script>
</html>