<head> {{ partial "head" . }}
  
</head>
<body>
    {{ partial "header" . }}
    {{ partial "left" . }} 
    <div class="main">
      <div style="
    display: grid;
    justify-content: center;
    margin-top: 50px;
">
        <div style="
    text-align: center;
">
          <span class="material-symbols-rounded"><span style="color: #eee;font-size: 150px;background: green;border-radius: 50%;padding: 20px;" class="material-symbols-rounded">check</span>
        </span> </div>
        <p style="
            text-align: center;
            color: #eee;
            font-size: 30px;
        ">Ευχαριστούμε που επικοινωνήσατε μαζί μας</p>
      </div>
     </div>

     {{ partial "footer" . }} 
</body>
</html>