<div class="top-menu">

  <div class="search">
    <div class="sbef">Mockup:</div>
    <input autocomplete="off" class="sinput" id="filter-input" type="text" value="Αναζήτηση" />
    <button class="sbutton" id="filter-submit" type="button"><img src="/media/icons/mglass.svg" alt=""></button>
  </div>

  <!--link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
  
  <div id="search" style="margin-left: 300px;"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: "#search" });
      });
  </script-->
  <div class="top-right-menu">
    <div>
     

    </div>
    <!--a href="#"><img style="margin-right:10px" width="32px" src="/media/icons/svg32/onedrive.svg" alt=""><span> OneDrive</span></a-->
    <a href="#"><img style="margin-right:10px" width="24px" src="/media/icons/svg32/help.svg"
        alt=""><span>Βοήθεια</span></a>
    <div class="plsite"><a href="https://sklavenitis-pl.onrender.com/" target="_blank"><span class="material-icons" style="color:#eee;margin-right: 5px;">
          launch
        </span><span style="color:orange">Private</span> <span
          style="color:#ff4500;margin-left: 5px; margin-right: 3px;"> Label</span></a></div>
          <div class="zbuttons" style="display: none;">
            <span style="
            margin-right: 15px;
            font-size: 18px;
            font-weight: 700;
            color: #eee;
        ">UI Scale</span>
               <button class="plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.333in" height="0.333in">
                <path fill-rule="evenodd" fill="rgb(225, 225, 225)" d="M12.000,-0.000 C18.627,-0.000 24.000,5.373 24.000,12.000 C24.000,18.627 18.627,24.000 12.000,24.000 C5.373,24.000 -0.000,18.627 -0.000,12.000 C-0.000,5.373 5.373,-0.000 12.000,-0.000 Z"></path>
                <path fill-rule="evenodd" fill="rgb(57, 56, 56)" d="M5.000,11.000 L19.000,11.000 C19.552,11.000 20.000,11.448 20.000,12.000 C20.000,12.552 19.552,13.000 19.000,13.000 L5.000,13.000 C4.448,13.000 4.000,12.552 4.000,12.000 C4.000,11.448 4.448,11.000 5.000,11.000 Z"></path>
                </svg></button>
                <button class="minus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.333in" height="0.333in">
                 <path fill-rule="evenodd" fill="rgb(225, 225, 225)" d="M12.000,-0.000 C18.627,-0.000 24.000,5.373 24.000,12.000 C24.000,18.627 18.627,24.000 12.000,24.000 C5.373,24.000 -0.000,18.627 -0.000,12.000 C-0.000,5.373 5.373,-0.000 12.000,-0.000 Z"></path>
                 <path fill-rule="evenodd" fill="rgb(57, 56, 56)" d="M5.000,11.000 L19.000,11.000 C19.552,11.000 20.000,11.448 20.000,12.000 C20.000,12.552 19.552,13.000 19.000,13.000 L5.000,13.000 C4.448,13.000 4.000,12.552 4.000,12.000 C4.000,11.448 4.448,11.000 5.000,11.000 Z"></path>
                 <path fill-rule="evenodd" fill="rgb(57, 56, 56)" d="M12.000,4.000 C12.552,4.000 13.000,4.448 13.000,5.000 L13.000,19.000 C13.000,19.552 12.552,20.000 12.000,20.000 C11.448,20.000 11.000,19.552 11.000,19.000 L11.000,5.000 C11.000,4.448 11.448,4.000 12.000,4.000 Z"></path>
                 </svg></button>
                 
                <button class="reset"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.333in" height="0.333in">
                 <path fill-rule="evenodd" fill="rgb(225, 225, 225)" d="M3.515,3.515 C8.201,-1.172 15.799,-1.172 20.485,3.515 C25.172,8.201 25.172,15.799 20.485,20.485 C15.799,25.172 8.201,25.172 3.515,20.485 C-1.172,15.799 -1.172,8.201 3.515,3.515 Z"></path>
                 <path fill-rule="evenodd" fill="rgb(57, 56, 56)" d="M6.343,16.243 L16.243,6.343 C16.633,5.953 17.266,5.953 17.657,6.343 C18.047,6.734 18.047,7.367 17.657,7.757 L7.757,17.657 C7.367,18.047 6.734,18.047 6.343,17.657 C5.953,17.266 5.953,16.633 6.343,16.243 Z"></path>
                 <path fill-rule="evenodd" fill="rgb(57, 56, 56)" d="M6.343,6.343 C6.734,5.953 7.367,5.953 7.757,6.343 L17.657,16.243 C18.047,16.633 18.047,17.266 17.657,17.657 C17.266,18.047 16.633,18.047 16.243,17.657 L6.343,7.757 C5.953,7.367 5.953,6.734 6.343,6.343 Z"></path>
                 </svg></button>
        </div>
  </div>
</div>
<div class="search-container" style="display: none;">
  <div class="search-results">
    <div class="search-header">
      <p class="spar"><span class="num-results nmoc"><b>0</b></span>PSD Mockups στην Αναζήτηση 
        <span class="smglass"><img width="24px" src="/media/icons/mglass.svg" alt=""><span class="search-query"> </span> </span>
        <span
          class="sclose grid material-icons">close</span></p>
    </div>
  </div>
  <ul class="search-list">
    {{range .Site.RegularPages}}

    <li>
      <a href="{{.Permalink}}" class="smockup">
        {{if isset .Params "image-low" }}<img src="{{ index .Params "image-low" }}" class="sfimg" alt="">
        {{ end }}
        <span class="stitle">{{ .Title }}<span style="display: none;">{{.File.LogicalName}}</span><span class="smeta"
            style="display: none;">{{ .Title }}</span></span>

      </a>
    </li>
    {{ end }}
  </ul>
</div>

<script>
  const searchContainer = document.querySelector('.search-container');
  const searchList = document.querySelector('.search-list');
  const searchInput = document.querySelector('.sinput');
  const numResults = document.querySelector('.num-results');
  const searchQuery = document.querySelector('.search-query');
  const closeButton = document.querySelector('.sclose');
  const searchResults = document.querySelector('.search-results');

  let searchTimeout;

  function filterResults() {
    const query = searchInput.value.toLowerCase();
    const results = searchList.querySelectorAll('li');
    let numShown = 0;

    for (let i = 0; i < results.length; i++) {
      const title = results[i].querySelector('.stitle').textContent.toLowerCase();
      if (title.includes(query)) {
        results[i].style.display = '';
        numShown++;
      } else {
        results[i].style.display = 'none';
      }
    }

    numResults.textContent = numShown;
    searchQuery.textContent = query;
  }

  searchInput.addEventListener('input', () => {
    if (searchTimeout) {
      clearTimeout(searchTimeout);
    }

    if (searchInput.value.length >= 3) {
      searchTimeout = setTimeout(() => {
        searchContainer.style.display = '';
        searchList.style.display = '';
        searchResults.style.display = '';
        filterResults();
      }, 300);
    } else {
      searchContainer.style.display = 'none';
    }
  });

  searchInput.addEventListener('keydown', (e) => {
    if (e.key === 'Backspace') {
      searchContainer.style.display = 'none';
      searchList.style.display = 'none';
      searchInput.value = '';
    }
  });

  closeButton.addEventListener('click', () => {
    searchContainer.style.display = 'none';
    searchList.style.display = 'none';
    searchInput.value = 'Αναζήτηση';
  });

  searchInput.addEventListener('click', () => {
    searchContainer.style.display = 'none';
    searchResults.style.display = 'none';
    searchInput.value = '';
  });
  $(".smeta").each(function () {
    var text = $(this).text();
    $(this).text(
      $(this)
      .text()
      .replace(/ά/g, "α")
      .replace(/έ/g, "ε")
      .replace(/ή/g, "η")
      .replace(/ί/g, "ι")
      .replace(/ό/g, "ο")
      .replace(/ύ/g, "υ")
      .replace(/ώ/g, "ω")
      .replace(/-/g, " ")
      /*.replace(/[^\w\s]/gi, " ")*/
    );
  });

  
  let zoomLevels = [1, 0.9, 0.8, 0.75];
		let currentZoomLevel = 0;
		
		function zoomIn() {
			currentZoomLevel = Math.min(currentZoomLevel + 1, zoomLevels.length - 1);
			setZoom(zoomLevels[currentZoomLevel]);
		}
		
		function zoomOut() {
			currentZoomLevel = Math.max(currentZoomLevel - 1, 0);
			setZoom(zoomLevels[currentZoomLevel]);
		}
		
		function resetZoom() {
			currentZoomLevel = 0;
			setZoom(zoomLevels[currentZoomLevel]);
		}
		
		function setZoom(zoomLevel) {
			document.body.style.zoom = zoomLevel;
		}
		
		document.querySelector(".plus").addEventListener("click", zoomIn);
		document.querySelector(".minus").addEventListener("click", zoomOut);
		document.querySelector(".reset").addEventListener("click", resetZoom);
	</script>








<style>
  /*.search-container {
    display: grid;
    position: fixed;
    z-index: 20;
    background: #111111;
    border: 2px solid #333;
    left: 320px;
    right: 30px;
    top: 110px;
    border-radius: 8px;
    padding: 0px;
    filter: drop-shadow(2px 10px 20px black);
}
ul.search-list {
    background: #111111;
    display: grid;
    padding: 0;
    
    min-height: 0;
    max-height: 63vh;
    overflow-y: auto;
}
.search-list li {
    display: block;
    align-items: center;
}
a.smockup .fimg {
  display: none;
}
a.smockup {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #eee;
    padding: 5px;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 5px 15px;
    font-size: 16px;
    text-transform: capitalize;
}
a.smockup:hover {
  background: #222;
}
img.sfimg {
    width: 50px;
    border-radius: 3px;
    border: 1.5px solid #444;
}
.spar {
  display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    color: #eee;
}
span.search-query {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 36px;
    padding: 0 20px;
    border-radius: 0px;
    border-left: 2px solid #333;
    font-size: 20px;
    font-weight: bold;
}
.search-results {
    position: relative;
    top: 0;
    margin: 10px 20px -20px;
}
span.num-results.nmoc {
    font-weight: bold;
}
span.sclose {
    font-size: 30px;
    background: #222;
    border-radius: 4px;
    padding: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .3s;
}
span.sclose:hover {
  background: rgb(170, 1, 1);
  transition: all .3s;
}*/
</style>
<style>
  .zbuttons {
    display: flex;
    gap: 5px;
    border: 2px solid #444;
    height: 45px;
    align-items: center;
    padding: 0 20px;
    border-radius: 30px;
    transition: all .3s;
    
}

  .search-container {
    display: grid;
    position: fixed;
    z-index: 20;
    top: 50;
    background: #111;
    border: 2px solid #333;
    left: 320px;
    right: 30px;
    top: 110px;
    border-radius: 6px;
    padding: 0 0px;
    filter: drop-shadow(2px 10px 20px black)
  }

  ul.search-list {
    background: #111;
    display: grid;
    padding: 0;
    min-height: 0;
    max-height:67vh;
    overflow-y: auto
  }

  .search-list li {
    display: block;
    align-items: center
  }

  a.smockup .fimg {
    display: none
  }

  a.smockup {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #eee;
    padding: 10px;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 15px 20px 0;
    font-size: 20px;
    text-transform: capitalize
  }

  a.smockup:hover {
    background: #222
  }

  img.sfimg {
    width: 50px;
    border-radius: 3px;
    border: 1.5px solid #444
  }

  .spar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: #eee;
    margin: 10px 0;
  }

  .smglass {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    padding: 0 20px;
    border-radius: 30px;
    border: 2px solid #333;
    font-size: 24px;
    font-weight: 700
  }
  
  .search-results {
    position: relative;
    top: 0;
    margin: 10px 20px -20px
  }

  span.num-results.nmoc {
    font-weight: 700
  }

  span.sclose {
    font-size: 40px;
    background: #222;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .3s
  }

  span.sclose:hover {
    background: #aa0101;
    transition: all .3s
  }
  button.minus, button.plus, button.reset {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    width: 24px;
    height: 24px;
    transition: all .3s;
    cursor: pointer;
    filter: invert(1) contrast(1) brightness(2);
    opacity: .9;
    border: 2px solid #ddd;
    box-sizing: content-box;
    border-radius: 50%;
}
button.minus:hover, button.plus:hover, button.reset:hover {
  opacity: .6;
  transition: all .3s;
}
  @media screen and (min-width: 1925px) {
    ul.search-list {
 
  max-height: 61.0vh;
  
}
  }
  @media screen and (max-width: 1500px) {
 
    .search-container {
        left: 110px;
    }
    
}
</style>