<div class="top-menu">
    <div class="search">
      <div class="sbef">Mockup:</div>
      <input type="text" class="sinput" placeholder="Αναζήτηση">
      <button class="sbutton"><img src="/media/icons/mglass.svg" alt=""></button>
  </div>
  <div class="top-right-menu">

    <a href="#"><img style="margin-right:10px" width="32px" src="/media/icons/svg32/onedrive.svg" alt=""><span> OneDrive</span></a>
    <a href="#"><img style="margin-right:10px" width="28px" src="/media/icons/svg32/help.svg" alt=""><span></span>Βοήθεια</a>
    <div class="plsite"><a href="#"><span class="material-icons" style="color:#eee;margin-right: 5px;">
      launch
      </span><span style="color:orange">Private</span> <span style="color:#ff4500;margin-left: 5px; margin-right: 3px;"> Label</span></a></div>
  </div>
  </div>