<div class="left-side">
   <a href="/">
    <div class="logo">
      <div class="logo-img"><img src="/media/icons/logo2.svg" alt=""></div>
      <div class="logo-text">PSD<span style="
      color: #eee;
  ">Mockups</span></div>
  </div></a>
    <ul class="left-top">
      <li><a class="llink1" href="/food"><img height="32px" src="/media/icons/svg32/trofima.svg" alt=""><span>Τρόφιμα</span></a></li>
      <li><a class="llink2" href="/no-food"><img height="32px" src="/media/icons/svg32/mhtrofima.svg" alt=""><span>Μη Τρόφιμα</span></a></li>
      <li><a class="llink3" href="/orofos"><img height="32px" src="/media/icons/svg32/orofos.svg" alt=""><span>Όροφος</span></a></li>
      <li><a class="llink4" href=""><span class="material-icons" style="
        background: #67e84f;
      padding: 4px 6px;
      border-radius: 4px;
      color: #085608;
      font-size: 22px;
    "> visibility </span><span style="
      font-weight: bold;
      font-size: 16px;
  ">Προβολή Όλων</span></a></li>
    </ul>
    <div class="left-center">
      <a class="llink5" href="/list-labels"><span class="material-symbols-rounded"> sell </span><span>Ετικέτες</span></a>
      <a class="llink6" href="/list-categories"><span class="material-symbols-rounded"> content_copy </span><span>Κατηγορίες</span></a>
     
    </div>
 
    <div class="left-bottom" style="position: absolute; bottom:80px;">
      <p style="font-size: 16px; color:#666"><span style="font-family: arial;">©</span> 2023 Ε.Υ. ΣΚΛΑΒΕΝΙΤΗΣ Α.Ε.Ε. <br><b style="color: #888; font-family: 'csans2';font-size: 15px;
      ">Διεύθυνση Marketing</b></p>
    </div>
  </div>