<link rel="stylesheet" href="/wlist.css">
{{ $related := .Site.Pages.Related . | first 6 }}
{{ with $related }}
<div class="related">
    <div class="main-top">
        <div class="mtop-left"><span class="material-symbols-rounded" style="
            background: #343434;
            height: 48px;
            width: 48px;
            text-align: center;
            line-height: 48px;
            border-radius: 6px;
            font-size: 30px;
        "> sell </span><b>Δείτε ακόμα</b></span></div>
        <div class="mtop-right">
            <div class="order" style="display: none;"><span>Ταξινόμηση</span><a class="lorder" href="#"></a></div>
            <div class="view"><span>Προβολή: </span><a class="list" href="#"><img src="/media/icons/svg32/list.svg" alt=""></a><a class="grid" href="#"><img src="/media/icons/svg32/grid.svg" alt=""></a></div>
        </div>
       </div>
    <div class="mockups-list">
    	
    	{{ range . }}
    	
        
           
               <a href="{{.Permalink}}" class="mockup">
    
    <div class="fimg">{{if isset .Params "image-high" }}<img
    src="{{ index .Params "image-high" }}"></div>
    {{ end }}
    <h1 class="p-title">{{ .Title }}</h1>
               </a>
               {{ end }}
           </div>
</div>




{{ end }}
<style>
    .main-line {
    width: auto;
    height: 2px;
    background: #222;
    border-radius: 10px;
    margin: 30px 0 30px 0;
}
.mockups-list.listv {
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.listv a.mockup {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px;
    max-width: unset;
    flex-basis: 400px;
    flex-grow: 1;
}
</style>
<script>
    $("a.list").click(function () {
       $(".mockups-list").addClass("listv");
       $(this).addClass("lpointer");
       $('a.grid').removeClass('lpointer');

   });
   $("a.grid").click(function () {
       $(".mockups-list").removeClass("listv");
       $(this).addClass("lpointer");
       $('a.list').removeClass('lpointer');

   });
  

   $('a.grid').addClass('lpointer');


</script>
<style>

</style>
