<link rel="stylesheet" href="/wlist.css">
{{ $related := .Site.Pages.Related . | first 6 }}
{{ with $related }}
<div class="related">
    <div class="main-top">
        <div class="mtop-left"><span class="mtop-left-span material-symbols-rounded"> sell </span><b>Δείτε ακόμα</b></span></div>
        <div class="mtop-right">
            <div class="order" style="display: none;"><span>Ταξινόμηση</span><a class="lorder" href="#"></a></div>
            <div class="view"><span>Προβολή: </span><a class="list" href="#"><img src="/media/icons/svg32/list.svg" alt=""></a><a class="grid" href="#"><img src="/media/icons/svg32/grid.svg" alt=""></a></div>
        </div>
       </div>
    <div class="list-related">
    	
    	{{ range . }}
    	
        
           
               <a href="{{.Permalink}}" class="mockup">
    
    <div class="fimg">{{if isset .Params "image-high" }}<img
    src="{{ index .Params "image-high" }}"></div>
    {{ end }}
    <h1 class="p-title">{{ .Title }}</h1>
               </a>
               {{ end }}
           </div>
</div>




{{ end }}
<style>
    .main-line {
    width: auto;
    height: 2px;
    background: #222;
    border-radius: 10px;
    margin: 20px 0 30px 0;
}
.mockups-list.listv {
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.listv a.mockup {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px;
    max-width: unset;
    flex-basis: 400px;
    flex-grow: 1;
}
.main-top {
    display: flex;
    justify-content: space-between;
    margin: -10px 0 0px;
}
.list-related {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 15px;
    margin-top: -10px;
}
.list-related a.mockup {
    position: relative;
    padding: 7px;
    border-radius: 8px;
    background: #1e1e1e;
    border: 0px solid;
 }
span.mtop-left-span.material-symbols-rounded {
    height: 48px;
    line-height: 48px;
    width: 48px;
    background: #373636;
    text-align: center;
    border-radius: 6px;
    font-size: 28px;
}
h1.p-title {
    font-size: 18px;
}
.listv h1.p-title {
    font-size: 20px;
}
@media screen and (min-width: 1930px) {
    .list-related {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   
}
h1.p-title {
    font-size: 20px;
}
  }

  @media screen and (min-width: 2500px) {
    .list-related {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
   
}
h1.p-title {
    font-size: 18px;
}
  }
</style>
<script>
    $("a.list").click(function () {
       $(".list-related").addClass("listv");
       $(this).addClass("lpointer");
       $('a.grid').removeClass('lpointer');

   });
   $("a.grid").click(function () {
       $(".list-related").removeClass("listv");
       $(this).addClass("lpointer");
       $('a.list').removeClass('lpointer');

   });
  

   $('a.grid').addClass('lpointer');


</script>
