
<head> {{ partial "head" . }}
    
</head>
<body>
    {{ partial "header" . }} 
    {{ partial "left" . }} 
    <div class="main">
        <div class="main-top">
         <div class="mtop-left"><img height="32px" src="/media/icons/svg32/trofima.svg" alt=""><span><b>Τρόφιμα</b></span></div>
         <div class="mtop-right">
             <div class="order" style="display: none;"><span>Ταξινόμηση</span><a class="lorder" href="#"></a></div>
             <div class="view"><span>Προβολή: </span><a class="list" href="#"><img src="/media/icons/svg32/list.svg" alt=""></a><a class="grid" href="#"><img src="/media/icons/svg32/grid.svg" alt=""></a></div>
         </div>
        </div>
        <div class="main-in trofima">
          <div class="index-labels">
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env"><img src="/media/icons/sklavenitis.png" alt=""></div>
                      <p class="env-title">Σκλαβενίτης</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/marata.png" alt="">
                      </div>
                      <p class="env-title">Μαράτα</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/bonora.png" alt="">
                      </div>
                      <p class="env-title">Bonora</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/buenas.png" alt="">
                      </div>
                      <p class="env-title">Buenas</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/piesto.png" alt="">
                      </div>
                      <p class="env-title">Piesto</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/anthela.png" alt="">
                      </div>
                      <p class="env-title">Ανθέλα</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/toni.png" alt="" style="
      object-position: 0;
      ">
                      </div>
                      <p class="env-title">Toni</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/fisherman.png" alt="" style="
      object-position: 0;
      ">
                      </div>
                      <p class="env-title">Fisharman's Boat</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/bakermaster.png" alt="">
                      </div>
                      <p class="env-title">Baker Master</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/meathouse.png" alt="">
                      </div>
                      <p class="env-title">Meat House</p>
                  </div>
              </a>
              <a href="#">
                  <div class="lilabel">
                      <div class="top-env"></div>
                      <div class="env-paper"></div>
                      <div class="main-env">
                          <img src="/media/icons/romvos.png" alt="">
                      </div>
                      <p class="env-title">Ρόμβος</p>
                  </div></a>
      
          </div></div>
          <div class="main-line"></div>
          <div class="main-top">
            <div class="mtop-left"><img height="32px" src="/media/icons/svg32/mhtrofima.svg" alt=""><span><b>Μη Τρόφιμα</b></span></div>
           </div>
           <div class="main-in mh-trofima">
            <div class="index-labels">
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/sklavenitis.png" alt=""></div>
                <p class="env-title">Σκλαβενίτης</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/barron.png" alt=""></div>
                <p class="env-title">Barron</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/sette.png" alt=""></div>
                <p class="env-title">Sette</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/kitten.png" alt=""></div>
                <p class="env-title">Kitten</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/drolio.png" alt=""></div>
                <p class="env-title">Drolio</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/frogo.png" alt=""></div>
                <p class="env-title">Frogo</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/glaros.png" alt=""></div>
                <p class="env-title">Γλάρος</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/masterlight.png" alt=""></div>
                <p class="env-title">Master Light</p>
            </div></a>
            <a href="#">
            <div class="lilabel">
                <div class="top-env"></div>
                <div class="env-paper"></div>
                <div class="main-env"><img src="/media/icons/masterenergy.png" alt=""></div>
                <p class="env-title">Master Energy</p>
            </div></a>
        </div>
        </div>
        <div class="main-line"></div>
      </div>
    <script>
        $("a.list").click(function () {
           $(".main-in").addClass("listv");
           $(this).addClass("lpointer");
           $('a.grid').removeClass('lpointer');
   
       });
       $("a.grid").click(function () {
           $(".main-in").removeClass("listv");
           $(this).addClass("lpointer");
           $('a.list').removeClass('lpointer');
   
       });
      
    
       $('a.grid').addClass('lpointer');
    </script>
</body>